.location-info {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 300px;
  min-height: 100px;
  padding: 10px;
  z-index: 1;
  background-color: #ddd;
  border-radius: 20px;
  opacity: 0.8;

  h2 {
    padding-left: 10px;
    font-size: 18px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .close {
      position: absolute;
      top: -25px;
      right: 0;
      padding: 2px;
      width: 15px;
      height: 15px;
      color: red;

      &:hover {
        cursor: pointer;
      }    
    }
    ul {
      list-style-type: none;
      margin: 10px;

      li {
        font-size: 16px;
        font-weight: 600;
      }

      small {
        color: rgba(16, 101, 134, 0.918);
        &:hover {
          cursor: pointer;
          color: rgb(8, 69, 202);
          transition: all 0.3s ease;
        }      
      }
    }
  }

  .image {
    position: relative;
    .icon {
      position: absolute;
      bottom: 0;
      right: 10;
      color: goldenrod;
    }
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }

}
